.package-card{
      width: 300px;
      height: 280px;
      flex-shrink: 0;
      background-color: #ffffff;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
      margin-right: 20px;
      padding: 20px;
      border-radius: 3px;
}
.package-name{
      color: #2F2F2F;
      font-family: "Roboto";
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      width: 235px;
      margin-top: 5px;
}
.rating-container{
      display: flex;
      align-items: center;
      margin-top: 10px;
}
.rating{
      color: #2F2F2F;
      text-align: center;
      font-family: "Roboto";
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px; 
      margin: 0;
}
.star-icon{
      color: #E2E700;
      margin-left: 10px;
      margin-right: 10px;
}
.reviews{
      color: #6E6E6E;
      text-align: center;
      font-family: "Roboto";
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; 
      margin: 0;
}
.number-of-tests{
      color: #2F2F2F;
      font-family: "Montserrat";
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
}
.original-price{
      color: #6E6E6E;
font-family: "Roboto";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 20px; 
}
.original-price-span{
      text-decoration: line-through;
}
.discount-price{
color: #2F2F2F;
text-align: center;
font-family: "Roboto";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 20px;
}
.price-container{
      display: flex;
      align-items: center;
}
.discount-price-container{
      display: flex;
      align-items: center;
      margin-left: 15px;
}
.book-now-button-container{
      text-align: center;
}
.book-now-button{
      width: 264px;
      height: 43px;
      flex-shrink: 0;
      border-radius: 6px;
      background-color: #008DD9;
      border: 0;
      color: #ffffff;
}
@media screen and (max-width:768px) {
      .package-card{
            margin-bottom: 20px;
            width: 90%;
            margin-right: 0;
      }
}